body{
    font-family: "Epilogue", sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
}
.mcontainer{
    width: 85%;
    margin: auto;
}
.logo{
    font-size: 24px;
    color: #25324B;
    font-weight: bold;
    font-family: "Red Hat Display", sans-serif;
}
.mshadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu a{
    color:#515B6F ;
    font-size: 16px;
}
.mborder-bottom{
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) ;

}
.menu-div{
    width: 43%;
}
header{
    height:88px;
}
.menu-link{
    text-decoration: none;
}
.btn-login{
    color: #4640DE;
    font-size: 16px;
    padding: 24px 12px ;
    font-weight: bold;
    border: none;
}
.btn-signup{
    background-color: #4640DE;
    color: white;
    height: 50px;
    width: 108px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}
.pipe{
    height: 50px;
    width: 2px;
    background-color: #D6DDEB;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) ;

}
.buttons{
    width: 20%;
}

.landing h1
{
    font-size: 72px;
    font-family: 'Clash Display', sans-serif;
    /* font-family: Helvetica,Arial, sans-serif; */
}
.second-bg{
    background-color: #F8F8FD;
}
.section1-block1{
    background-color: #FFFFFF;
    width: 56%;
    margin-bottom: 0;
}
.section1-block1 p p{
    font-size: 20px;
    color: #515B6F;

}
.blue{
    color: #26A4FF;
}
.section1{
    padding-top: 88px;
    padding-bottom: 150px;
}
.search-block{
    height: 131px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) ;
    margin-top: 0;
}
.search-block button{
    width:230 px;
    height: 57px;
    background-color: #4640DE;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}
.minput{
    width: 230px;
    height: 57px;
    border: none;
    border-bottom: 1px #D6DDEB solid;
}
p{
    margin-bottom: 0;
}
.min-div{
    height: 44px;
    font-weight: bold;
    font-size: 16px;
}
.min-div p{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #202430;
    /* color: rgba(0, 0, 0, 0.2); */

}

.section2{
    height: 170px;
}

.landing h2{
    font-size: 48px;
    font-family: 'Clash Display', sans-serif;

}
.showall a{
    color: #4640DE;
    font-weight: bold;


}
.category{
    border: 1px #D6DDEB solid;
    height: 214px;
    width: 274px;

}

.landing h5{
    color: #25324B;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Clash Display', sans-serif;
}
.category div{
    height: 70px;
}

.categoryContainer{
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 200px 200px;
    gap: 20px;
}
.sectionImageOnBlock{
    height: 414px;
    background-color: #4640DE;
    margin-top: 80px;
    margin-bottom: 80px;
    clip-path: polygon(10% 0%, 100% 0%, 100% 80%, 90% 100%, 0% 100%, 0% 20%);
    position: relative;
    padding: 30px;
}
.mdashboard{
    width: 500px;
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 45px;
}
.sectionImageOnBlock div p{
    font-size: 16px;
    color: #FFFFFF !important;
}
.sectionImageOnBlock div button{
    height: 50px;
    width: 179px;
    color: #4640DE;
    background-color: #FFFFFF;
    border: none;
    font-weight: bold;
}
.jobContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr ;
    grid-template-rows: 283px 283px;
    gap: 20px;
}
.landing h6{
    font-size: 18px;
    font-weight: bold;
    color: #25324B;
}
.job{
    border: #D6DDEB 1px solid;
}
.dot{
    color: #515B6F;
}
.job div p{
    color:#515B6F ;
}
.job p{
    color: #7C8493;
}
.active{
    border-bottom: 4px #4640DE solid;
}